.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1px;
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  z-index: 1;
}

.header-link {
  color: var(--DAprimaryColour);
  text-decoration: none;
  transition: 0.5s;
  margin: 0 2px;
  z-index: 1;
}

.header-link:hover {
  color: var(--DAsecondaryColour);
  transition: 0.5s;
}

@media (max-width: 1024px) {
  .header-container {
    font-size: 0.9rem;
  }
}
